# Database configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=app_db

# PayPal configuration
PAYPAL_MODE=live
PAYPAL_CLIENT_ID=replace with your PayPal Client ID here
PAYPAL_CLIENT_SECRET=replace with your PayPal Client Secret here

SOCIAL_AUTH_GITHUB_KEY=replace with your GitHub Client ID here
SOCIAL_AUTH_GITHUB_SECRET=replace with your GitHub Client Secret here

SOCIAL_AUTH_LINKEDIN_OAUTH2_KEY= Replace with LinkedIn Client ID
SOCIAL_AUTH_LINKEDIN_OAUTH2_SECRET=input your LinkedIn Client Secret here

# Email configuration
EMAIL_HOST_USER=example@gmail.com - Replace with your email address
EMAIL_HOST_PASSWORD=enter your email password here

# Django secret key
DJANGO_SECRET_KEY=enter your django secret key here

# Debug mode
DEBUG=False
DATABASE_URL=input your database url here from neon.tech
#cloudflare r2 configuration
R2_ACCESS_KEY_ID=input your access key id here from cloudflare r2 storage
R2_SECRET_ACCESS_KEY=input your secret access key here from cloudflare r2 storage
R2_BUCKET_NAME=add your bucket name here from cloudflare r2 storage
R2_ENDPOINT_URL=add your endpoint url here from cloudflare r2 storage
R2_PUBLIC_URL=add your public url here from cloudflare r2 storage